<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>申报编辑</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <%include public_css%>
    <!--图片上传-->
    <link rel="stylesheet" type="text/css" href="/public/css/plugins/webuploader/webuploader.css">
    <link rel="stylesheet" type="text/css" href="/public/css/plugins/webuploader/webuploader-demo.css">
    <link rel="stylesheet" type="text/css" href="/public/css/plugins/simditor/simditor.css" />
</head>
<body class="gray-bg" >
    <div class="wrapper wrapper-content" id="app">

        <div class="row">

            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>申报编辑</h5>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal m-t" id="dataform">
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><i class="fa fa-asterisk text-danger"></i>申报月份：</label>
                                <div class="col-sm-3">
                                    <label>{{format(form.apply_date)}}</label>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><i class="fa fa-asterisk text-danger"></i>年度交易合约总量：</label>
                                <div class="col-sm-3">
                                    <input v-model="form.year_apply"  type="text" class="form-control" name="year_apply" aria-required="true" aria-invalid="false" class="valid">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><i class="fa fa-asterisk text-danger"></i>月度交易合约总量：</label>
                                <div class="col-sm-3">
                                    <input v-model="form.month_apply"  type="text" class="form-control" name="month_apply" aria-required="true" aria-invalid="false" class="valid">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit" @click="save()" :disabled=" addbutton == false" style="margin-left:30px">保存</button>
                                    <button class="btn btn-default" type="button" onclick="window.history.go(-1)" style="margin-left:30px">取消</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- 全局js -->
    <%include public_js%>

        <!-- 自定义js -->
        <script src="/public/js/content.js?v=1.0.0"></script>

        <!-- jQuery Validation plugin javascript-->
        <script src="/public/js/plugins/validate/jquery.validate.min.js"></script>
        <script src="/public/js/plugins/validate/messages_zh.min.js"></script>

        <!-- simditor -->
        <script type="text/javascript" src="/public/js/plugins/simditor/module.js"></script>
        <script type="text/javascript" src="/public/js/plugins/simditor/uploader.js"></script>
        <script type="text/javascript" src="/public/js/plugins/simditor/hotkeys.js"></script>
        <script type="text/javascript" src="/public/js/plugins/simditor/simditor.js"></script>

        <!--图片上传-->
        <script src="/public/js/plugins/webuploader/webuploader.js"></script>

        <script>

            $().ready(function () {
                //初始化vue    
                app = new Vue({
                    el: '#app',
                    data: {
                        form:{
                            id:'<%=data.id%>',
                            apply_date: '<%=data.apply_date%>',
                            year_apply:'<%=data.year_apply%>',
                            month_apply:'<%=data.month_apply%>'
                        },
                        editor:'',
                        icon:"<i class='fa fa-times-circle'></i>",
                        imageUrl: '',
                        addbutton:true
                    },
                    methods: {
                        format(val){
                            return val.substring(0,4)+"年"+val.substring(4,6)+"月";
                        },
                        save(){
                            $("#dataform").validate({
                                submitHandler: function (form) {
                                    app.addbutton = false;
                                    $.post("/admin/eleapply/update",
                                            app.form,function (res) {
                                                if(res.errno==0){
                                                    toastr.success('修改成功!', '成功');
                                                    setTimeout(function(){
                                                        window.location.href = '/admin/eleapply/tolist?'+'page=<%=page%>&search=<%=search%>&pageSize=<%=pageSize%>&apply_date=<%=apply_date%>';
                                                    },1000);
                                                }else{
                                                    toastr.error(res.msg,'失败');
                                                }
                                                app.addbutton = true;
                                            });

                                },
                                rules : {
                                    year_apply : {
                                        maxlength:20,
                                        required:true,
                                        number:true
                                    },
                                    month_apply : {
                                        maxlength:20,
                                        required:true,
                                        number:true
                                    }
                                },
                                messages : {
                                    year_apply : app.icon + "请输入年度交易合约总量",
                                    month_apply : app.icon + "请输入月度交易合约总量"
                                }
                            });

                        }
                    }
                })
            });
        </script>


</body>

</html>