<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>企业列表</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <%include public_css%>
    <link href="/public/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="/public/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <!--图片上传-->
    <link rel="stylesheet" type="text/css" href="/public/css/plugins/webuploader/webuploader.css">
    <link rel="stylesheet" type="text/css" href="/public/css/plugins/webuploader/webuploader-demo.css">
    <link rel="stylesheet" type="text/css" href="/public/css/plugins/webuploader/webuploader-demo.1.css">
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">


    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>企业列表</h5>
        </div>
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <!-- Example Toolbar -->
                    <div class="example-wrap">
                        <!--<h4 class="example-title">工具条</h4>-->
                        <div class="example">
                            <div class="btn-group hidden-xs" id="data_tool" role="group">
                                <form role="form" class="form-inline" style="margin-top:0px" id="search-form">
                                    <label>禁启用:</label>
                                    <select class="input-sm form-control input-s-sm inline" name="status" id="status" style="font-size: 13px;" onchange="refresh_table(true)">
                                        <option value="">全部</option>
                                        <option value="1" <%if(status=='1'){%> selected="selected" <%}%>>启用</option>
                                        <option value="0" <%if(status=='0'){%> selected="selected" <%}%>>禁用</option>
                                    </select>
                                    <input placeholder="搜索包括企业名称、企业户号" class="form-control" value="<%=search%>" name="search" style="margin-left:5px;width:400px;" id="search" onchange="refresh_table(true)">

                                    <button class="btn btn-info" type="button" onclick="refresh_table(true)" style="margin-top:5px;">搜索</button>
                                    <button class="btn btn-primary" type="button" onclick="toadd()" style="margin-top:5px;">新增</button>
                                    <div id="inp" style="float: right;margin-top:5px;margin-left: 5px;line-height: 10px;">导入</div>
                                </form>

                            </div>
                            <table id="rectable" data-mobile-responsive="true">
                                <thead>
                                <tr>
                                    <th data-field="row" data-formatter="rowFormatter">序号</th>
                                    <th data-field="ent_name">企业名称</th>
                                    <th data-field="numbers">企业户号</th>
                                    <th data-field="num">员工数量</th>
                                    <th data-field="id"  data-formatter="operateFormatter">操作</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- End Example Toolbar -->
            </div>

        </div>
    </div>
</div>
<!-- End Panel Other -->
</div>


<!-- 全局js -->
<%include public_js%>

<!-- 自定义js -->
<script src="/public/js/content.js?v=1.0.0"></script>


<!-- Bootstrap table -->
<script src="/public/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/public/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="/public/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/public/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/public/js/plugins/layer/laydate/laydate.js"></script>

<!--图片上传-->
<script src="/public/js/plugins/webuploader/webuploader.js"></script>
<!-- Peity -->
<script src="/public/js/demo/bootstrap-table-demo.js"></script>
<script>

    $().ready(function (){
        var uploader = WebUploader.create({
            auto:true,
            // swf文件路径
            swf: '/public/js/plugins/webuploader/Uploader.swf',
            // 文件接收服务端。
            server: '/common/upload/ent_excel',
            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick : {
                id : '#inp',
                //只能选择一个文件上传
                multiple: false
            },
            //限制只能上传一个文件
            fileNumLimit: 1,
            // 只允许选择excel表格文件。
            accept : {
                title : 'Applications',
                extensions : 'xlsx,xls',
                mimeTypes : 'application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
            }
        });
        uploader.on( 'uploadSuccess', function( file,res ) {
            console.log(res);
            if(res.code == '200'){
                swal("导入成功！", "数据导入成功。", "success");
                refresh_table(true);
            }else if(res.code == '2001'){
                swal("导入失败！", res.msg, "error");
                refresh_table(true);
            }else if(res.code == '2005'){
                swal("部分数据导入成功！",'失败的行号为：' + res.data.join(','), "error");
                refresh_table(true);
            }
        });
        uploader.on( 'uploadError', function( file ) {
            swal("Excel上传失败！",'Excel上传失败，导入未进行！', "error");
        });
        // 文件上传过程中创建进度条实时显示。
        uploader.on( 'uploadProgress', function( file, percentage ) {
            console.info(percentage);
        });
    })
</script>
<script>
    var page=1;
    var pageSize=10;
    (function () {
        var page=1;
        var pageSize=10;
        if(!isEmpty('<%=page%>')){
            page=parseInt('<%=page%>');
        }
        if(!isEmpty('<%=pageSize%>')){
            pageSize=parseInt('<%=pageSize%>');
        }
        $('#rectable').bootstrapTable({
            url: "/admin/ent/datalist",
            search: false,
            showRefresh: false,
            showToggle: true,
            showColumns: true,
            queryParams:queryParams,
            pagination: true,
            sidePagination: 'server',
            pageNumber: page,
            pageSize: pageSize,
            toolbar: '#data_tool',
            striped: true
        })
    })();
    function operateFormatter(value,row, index) {
        var addPublic = '';

        if(row.status == 0){
            addPublic = "<button type='button' class='btn btn-outline btn-warning' style='margin-left:10px' onclick='changeStatus(\""+value+"\",1)'>启用</button>";
        }else if(row.status == 1){
            addPublic="<button type='button' class='btn btn-outline btn-success' style='margin-left:10px' onclick='changeStatus(\""+value+"\",0)'>禁用</button>";
        }
        return [
            "<button type='button' class='btn btn-sm btn-success' onclick='toedit(\""+value+"\")' style='margin-left:10px'>编辑</button>",
            "<button type='button' class='btn btn-sm btn-primary' onclick='tomanage(\""+value+"\")' style='margin-left:10px'>员工管理</button>",
            "<button type='button' class='btn btn-sm btn-primary' onclick='tobill(\""+value+"\")' style='margin-left:10px'>添加账单</button>",
            addPublic
        ].join('');
    }


    function rowFormatter(value,row, index){
        return [index+1].join('');
    }

    //禁启用
    function changeStatus(val,status){
        $.get("/admin/ent/changestatus?id="+val+"&status="+status,function (res) {
            if(res.errno==0){
                if(status == 0){
                    swal("禁用成功！", "您已经成功禁用了该企业", "success");
                }else if( status == 1){
                    swal("启用成功！", "您已经成功启用了该企业", "success");
                }
                refresh_table();//刷新表单
            }else{
                swal("操作失败！", res.msg, "error");
            }
        })
    }

    /*
     新增页面
   */
    function toadd(){
        location.href='/admin/ent/toadd?page='+$(".pagination .active a").text()
            +"&pageSize="+$(".page-size").text()+"&search="+$("#search").val()+"&status="+$("#status").val();
    }
    /*
          编辑页面
        */
    function toedit(value){
        window.location.href = '/admin/ent/toedit?id='+value+'&page=<%=page%>&search=<%=search%>&pageSize=<%=pageSize%>&status='+$("#status").val();
    }
    /*
         员工管理
       */
    function tomanage(value){
        window.location.href = '/admin/ent/tomanage?id='+value+'&page=<%=page%>&search=<%=search%>&pageSize=<%=pageSize%>&status='+$("#status").val();
    }

    /*
    添加账单
    */
    function tobill(value) {
        window.location.href = '/admin/bill/toadd?ent_id='+value;
    }


    //form表单数据转json
    function serializeObject(form){
        var obj=new Object();
        $.each(form.serializeArray(),function(index,param){
            if(!(param.name in obj)){
                obj[param.name]=param.value;
            }
        });
        return obj;
    }
    //搜索条件
    function queryParams(params) {
        var data=serializeObject($("#search-form")); //获取form表单参数 JSON格式
        data.limit=params.limit;
        data.offset=params.offset;
        return data;
    }
    //刷新表单
    function refresh_table(type){
        //搜索按钮
        if(!isEmpty(type)){
            var params =$("#rectable").bootstrapTable('getOptions');
            params.queryParams.limit=0;
            params.queryParams.offset=pageSize;
            $('#rectable').bootstrapTable('refresh', params);
        }else{ //普通刷新
            $("#rectable").bootstrapTable('refresh', {  //刷新表单
                silent: true
            });
        }
    }
    //用户列表导出
  /*  function exp(){
        var is_forbid = $("#is_forbid").val();
        var is_receive = $("#is_receive").val();
        var is_write = $("#is_write").val();
        var search = $("#search").val();
        window.open("/admin/xuser/expUser?is_forbid="+is_forbid+"&is_receive="+is_receive+"&is_write="+is_write+"&search="+search);
    }*/


</script>
</body>
</html>