<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>企业编辑</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <%include public_css%>
    <!--图片上传-->
    <link rel="stylesheet" type="text/css" href="/public/css/plugins/webuploader/webuploader.css">
    <link rel="stylesheet" type="text/css" href="/public/css/plugins/webuploader/webuploader-demo.css">
    <link rel="stylesheet" type="text/css" href="/public/css/plugins/simditor/simditor.css" />
</head>
<body class="gray-bg" >
    <div class="wrapper wrapper-content" id="app">

        <div class="row">

            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>企业编辑</h5>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal m-t" id="dataform">
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><i class="fa fa-asterisk text-danger"></i>企业名称：</label>
                                <div class="col-sm-3">
                                    <input  v-model="form.ent_name" name="ent_name" class="form-control" type="text" aria-required="true" aria-invalid="false" class="valid" id="ent_name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><i class="fa fa-asterisk text-danger"></i>企业户号：</label>
                                <div class="col-sm-3">
                                    <input v-model="form.numbers"  type="text" class="form-control" name="numbers" aria-required="true" aria-invalid="false" class="valid">
                                    <label style="color: #990000">多个户号用“  ;  ” 隔开</label>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit" @click="save()" :disabled=" addbutton == false" style="margin-left:30px">保存</button>
                                    <button class="btn btn-default" type="button" onclick="window.history.go(-1)" style="margin-left:30px">取消</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- 全局js -->
    <%include public_js%>

        <!-- 自定义js -->
        <script src="/public/js/content.js?v=1.0.0"></script>

        <!-- jQuery Validation plugin javascript-->
        <script src="/public/js/plugins/validate/jquery.validate.min.js"></script>
        <script src="/public/js/plugins/validate/messages_zh.min.js"></script>

        <!-- simditor -->
        <script type="text/javascript" src="/public/js/plugins/simditor/module.js"></script>
        <script type="text/javascript" src="/public/js/plugins/simditor/uploader.js"></script>
        <script type="text/javascript" src="/public/js/plugins/simditor/hotkeys.js"></script>
        <script type="text/javascript" src="/public/js/plugins/simditor/simditor.js"></script>

        <!--图片上传-->
        <script src="/public/js/plugins/webuploader/webuploader.js"></script>

        <script>

            $().ready(function () {
                //初始化vue    
                app = new Vue({
                    el: '#app',
                    data: {
                        form:{
                            id:'<%=data.id%>',
                            ent_name: '<%=data.name%>',
                            numbers:'<%=data.numbers%>',
                            name:'<%=data.name%>'
                        },
                        editor:'',
                        icon:"<i class='fa fa-times-circle'></i>",
                        imageUrl: '',
                        addbutton:true
                    },
                    methods: {
                        save(){
                            $("#dataform").validate({
                                submitHandler: function (form) {
                                    if(app.form.ent_name==app.form.name){
                                        $.post("/admin/ent/update",
                                            app.form,function (res) {
                                                if(res.errno==0){
                                                    toastr.success('修改成功!', '成功');
                                                    setTimeout(function(){
                                                        window.location.href = '/admin/ent/tolist?'+'page=<%=page%>&search=<%=search%>&pageSize=<%=pageSize%>&status=<%=status%>';
                                                    },1000);
                                                }else{
                                                    toastr.error(res.msg,'失败');
                                                }
                                                app.addbutton = true;
                                            });
                                    }else{
                                        //app.addbutton = false;
                                        $.get("/admin/ent/checkent?ent_name="+$("#ent_name").val(),function (res) {
                                            if(res.errno==0){
                                                toastr.error(res.msg,'企业已经存在');
                                                return false;
                                            }else{
                                                $.post("/admin/ent/update",
                                                    app.form,function (res) {
                                                        if(res.errno==0){
                                                            toastr.success('修改成功!', '成功');
                                                            setTimeout(function(){
                                                                window.location.href = '/admin/ent/tolist?'+'page=<%=page%>&search=<%=search%>&pageSize=<%=pageSize%>&status=<%=status%>';
                                                            },1000);
                                                        }else{
                                                            toastr.error(res.msg,'失败');
                                                        }
                                                        app.addbutton = true;
                                                    });
                                            }
                                        })
                                    }
                                },
                                rules : {
                                    ent_name : {
                                        maxlength:20,
                                        required:true,
                                    },
                                    numbers : {
                                        required:true,
                                    }
                                },
                                messages : {
                                    ent_name :{
                                        required:app.icon + "请输入企业名称"
                                    } ,
                                    numbers : app.icon + "请输入企业编号"
                                }
                            });

                        }
                    }
                })
            });
        </script>


</body>

</html>