<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close"><i class="fa fa-times-circle"></i>
    </div>

<style>
    .navbar-default .nav > li > a:hover,.navbar-default .nav > li > a:focus{
            background: none !important;
            
}

.navbar-default .nav > li > a span,.navbar-default .nav > li > a span{
    padding-left: 40px;
}

.navbar-default .nav > li > a:hover span,.navbar-default .nav > li > a:focus span{
    border-left: #003057 solid 4px;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus {
    background-color: #131e26;
    color:#003057;
    font-weight: bold;
}

</style>

    <div class="sidebar-collapse" id="left-menu" style="background:url(/public/img/bg-login-1.png) !important">
        <ul class="nav" id="side-menu">
            <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                <span class="ng-scope">菜单</span>
            </li>
            <%
            var memus = ctx.session.m_user_info.menus;
            for(var i=0 ; i<memus.length;i++){
                var menu = memus[i];
            if(menu.hassubmenu){
            %>
            <li>
                <a href="#">
                    <span class="nav-label" style="padding-left:34px;"><%=menu.name%></span>
                    <span class="fa arrow"></span>
                </a>
                <ul  class="nav nav-second-level">
                    <%
                        var submenus = menu.submenus;
                    for(var j=0;j<submenus.length;j++){
                        var submenu = submenus[j];
                    %>
                    <li >
                        <a class="J_menuItem" href="<%=submenu.uri%>"><i class="fa fa-file-o"></i><span class="nav-label" style="padding-left:10px;"><%=submenu.name%></span></a>
                    </li>
                    <%
                    }
                    %>
                </ul>
            </li>

            <%
            }else{
            %>
            <li>
                <a  class="J_menuItem" href="<%=menu.uri%>">
                    <i class="fa fa-file-o"></i>
                    <span class="nav-label" style="padding-left:10px;"><%=menu.name%></span>
                </a>
            </li>
            <%
            }
            }
            %>

        </ul>
    </div>
</nav>


