<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>个人抄表列表</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <%include public_css%>
    <link href="/public/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="/public/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">


    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>个人抄表列表</h5>
        </div>
        <div class="ibox-content">
            <div class="row row-lg">


                <div class="col-sm-12">
                    <!-- Example Toolbar -->
                    <div class="example-wrap">
                        <!--<h4 class="example-title">工具条</h4>-->
                        <div class="example">
                            <div class="btn-group hidden-xs" id="data_tool" role="group">
                                <form role="form" class="form-inline" style="margin-top:0px" id="search-form">
                                    <label>抄表时段:</label>
                                    <input class="form-control" readonly="" aria-invalid="start_date" value="<%=start_date%>" name="start_date"  placeholder="开始时间" id="start">
                                    <input class="form-control" readonly="" aria-invalid="end_date" value="<%=end_date%>" name="end_date"  placeholder="结束时间" id="end">
                                    <input placeholder="搜索公司名称、户号、抄表人" class="form-control" value="<%=search%>" name="search" style="margin-left:5px;width:300px;" id="search" oninput="refresh_table(true)">

                                    <button class="btn btn-info" type="button" onclick="refresh_table(true)" style="margin-top:5px;">搜索</button>
                                    <button class="btn btn-primary" type="button" onclick="exp()" style="margin-top:5px;margin-left: 20px;">导出</button>
                                </form>

                            </div>
                            <table id="rectable" data-mobile-responsive="true">
                                <thead>
                                <tr>
                                    <th data-field="comp_name">公司名称</th>
                                    <th data-field="comp_num">企业户号</th>
                                    <th data-field="ele_num">电量（千瓦时）</th>
                                    <th data-field="user_name">抄表人</th>
                                    <th data-field="meter_date">抄表日期</th>
                                    <th data-field="create_date">登记时间</th>
                                    <th data-field="meter_id"  data-formatter="operateFormatter">操作</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- End Example Toolbar -->
            </div>

        </div>
    </div>
</div>
<!-- End Panel Other -->
</div>


<!-- 全局js -->
<%include public_js%>

<!-- 自定义js -->
<script src="/public/js/content.js?v=1.0.0"></script>


<!-- Bootstrap table -->
<script src="/public/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/public/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="/public/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/public/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/public/js/plugins/layer/laydate/laydate.js"></script>

<!-- Peity -->
<script src="/public/js/demo/bootstrap-table-demo.js"></script>
<script>
    var page=1;
    var pageSize=10;
    var start = laydate.render({
        elem: '#start',
        format: 'yyyy-MM-dd',
        max: 0,
        done: function (datas) {
            end.min = datas; //开始日选好后,重置结束日的最小日期
            end.start = datas //将结束日的初始值设定为开始日
            refresh_table(true);
        }
    });
    var end = laydate.render({
        elem: '#end',
        format: 'yyyy-MM-dd',
        max: 0,
        done: function (datas) {
            start.max = datas; //结束日选好后,重置开始日的最大日期
            refresh_table(true);
        }
    });

    (function () {


        var page=1;
        var pageSize=10;
        if(!isEmpty('<%=page%>')){
            page=parseInt('<%=page%>');
        }
        if(!isEmpty('<%=pageSize%>')){
            pageSize=parseInt('<%=pageSize%>');
        }
        $('#rectable').bootstrapTable({
            url: "/admin/meter/datalist",
            search: false,
            showRefresh: false,
            showToggle: true,
            showColumns: true,
            queryParams:queryParams,
            pagination: true,
            sidePagination: 'server',
            pageNumber: page,
            pageSize: pageSize,
            toolbar: '#data_tool',
            striped: true
        });

    })();


    function operateFormatter(value,row, index) {
        return [
            "<button type='button' class='btn btn-sm btn-danger' onclick='todel(\""+value+"\")' style='margin-left:10px'>删除</button>"
        ].join('');
    }

    //form表单数据转json
    function serializeObject(form){
        var obj=new Object();
        $.each(form.serializeArray(),function(index,param){
            if(!(param.name in obj)){
                obj[param.name]=param.value;
            }
        });
        return obj;
    }
    //搜索条件
    function queryParams(params) {
        var data=serializeObject($("#search-form")); //获取form表单参数 JSON格式
        data.limit=params.limit;
        data.offset=params.offset;
        return data;
    }
    //刷新表单
    function refresh_table(type){
        //搜索按钮
        if(!isEmpty(type)){
            var params =$("#rectable").bootstrapTable('getOptions');
            params.queryParams.limit=0;
            params.queryParams.offset=pageSize;
            $('#rectable').bootstrapTable('refresh', params);
        }else{ //普通刷新
            $("#rectable").bootstrapTable('refresh', {  //刷新表单
                silent: true
            });
        }
    }
    //删除
    function todel(val){
        swal({
            title: "您确定要删除这条信息吗",
            text: "删除后将无法恢复，请谨慎操作！",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "删除",
            cancelButtonText:'取消',
            closeOnConfirm: false
        }, function () {
            $.post("/admin/meter/del",{id:val},function(res){
                if(res.errno==200){
                    swal("删除成功！", "您已经永久删除了这条信息。", "success");
                    setTimeout(function () {
                        refresh_table();//刷新表单
                    }, 1000);
                }else{
                    swal("删除失败！", res.msg, "error");
                }
            });
        });
    }

    //批量导出
    function exp(){
        var data = queryParams(this);
        window.location.href="/admin/meter/exp?"+$.param(data);
    }


</script>
</body>
</html>