<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>农产品编辑</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <%include public_css%>
    <!--图片上传-->
    <link rel="stylesheet" type="text/css" href="/public/css/plugins/webuploader/webuploader.css">
    <link rel="stylesheet" type="text/css" href="/public/css/plugins/webuploader/webuploader-demo.css">
    <link rel="stylesheet" type="text/css" href="/public/css/plugins/simditor/simditor.css" />
</head>
<body class="gray-bg" >
    <div class="wrapper wrapper-content" id="app">

        <div class="row">

            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>农产品编辑</h5>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal m-t" id="dataform">
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><i class="fa fa-asterisk text-danger"></i>
                                    产品图片：
                                </label>
                                <div class="col-sm-2">
                                    <div id="fileList_pic" class="uploader-list"></div>
                                    <div id="filePicker_pic">请选择图片</div>
                                    <input  type="hidden"  name="bg_file" id="cover_id_pic" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><i class="fa fa-asterisk text-danger"></i>农产品名称：</label>
                                <div class="col-sm-3">
                                    <input  v-model="form.name" name="name" class="form-control" type="text" aria-required="true" aria-invalid="false"
                                        class="valid">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><i class="fa fa-asterisk text-danger"></i>产品种类：</label>
                                <div class="col-sm-3">
                                    <select class="form-control m-b" name="type" v-model="form.type">
                                        <option value="">-请选择种类-</option>
                                        <option value="0">粮油</option>
                                        <option value="1">瓜果</option>
                                        <option value="2">蔬菜</option>
                                        <option value="3">其他</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><i class="fa fa-asterisk text-danger"></i>产品描述：</label>
                                <div class="col-sm-3">
                                    <textarea class="form-control" v-model="form.desc" name="desc"></textarea>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit" @click="save()" :disabled=" addbutton == false" style="margin-left:30px">保存</button>
                                    <button class="btn btn-default" type="button" onclick="window.history.go(-1)" style="margin-left:30px">取消</button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- 全局js -->
    <%include public_js%>

        <!-- 自定义js -->
        <script src="/public/js/content.js?v=1.0.0"></script>

        <!-- jQuery Validation plugin javascript-->
        <script src="/public/js/plugins/validate/jquery.validate.min.js"></script>
        <script src="/public/js/plugins/validate/messages_zh.min.js"></script>

        <!-- simditor -->
        <script type="text/javascript" src="/public/js/plugins/simditor/module.js"></script>
        <script type="text/javascript" src="/public/js/plugins/simditor/uploader.js"></script>
        <script type="text/javascript" src="/public/js/plugins/simditor/hotkeys.js"></script>
        <script type="text/javascript" src="/public/js/plugins/simditor/simditor.js"></script>

        <!--图片上传-->
        <script src="/public/js/plugins/webuploader/webuploader.js"></script>

        <script>

            $().ready(function () {
                //初始化vue    
                app = new Vue({
                    el: '#app',
                    mounted: function () {
                        var $list_pic = $('#fileList_pic');
                        // 优化retina, 在retina下这个值是2
                        var ratio_pic = window.devicePixelRatio || 1;
                        // 缩略图大小
                        var thumbnailWidth_pic = 150 * ratio_pic;
                        var thumbnailHeight_pic = 150 * ratio_pic;
                        // 初始化Web Uploader
                        var uploader_pic = WebUploader.create({
                            // 选完文件后，是否自动上传。
                            auto: true,
                            // swf文件路径
                            swf: '/public/js/plugins/webuploader/Uploader.swf',
                            // 文件接收服务端。
                            server: '/common/upload/img?type=480',
                            // 选择文件的按钮。可选。
                            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
                            pick: {
                                id: '#filePicker_pic',
                                multiple: false
                            },
                            // 只允许选择图片文件。
                            accept: {
                                title: 'Images',
                                extensions: 'gif,jpg,jpeg,bmp,png',
                                mimeTypes: 'image/jpg,image/jpeg,image/png'
                            }
                        });
                        // 当有文件添加进来的时候
                        uploader_pic.on('fileQueued', function (file) {
                            var $li = $(
                                            '<div id="' + file.id +
                                            '" class="file-item thumbnail">' +
                                            '<img>' +
                                            '<div class="info">' + file.name + '</div>' +
                                            '</div>'
                                    ),
                                    $img = $li.find('img');

                            $list_pic.html($li);

                            // 创建缩略图
                            uploader_pic.makeThumb(file, function (error, src) {
                                if (error) {
                                    $img.replaceWith('<span>不能预览</span>');
                                    return;
                                }

                                $img.attr('src', src);
                            }, thumbnailWidth_pic, thumbnailHeight_pic);
                        });

                        // 文件上传过程中创建进度条实时显示。
                        uploader_pic.on('uploadProgress', function (file, percentage) {

                            var $li = $('#' + file.id),
                                    $percent = $li.find('.progress span');

                            // 避免重复创建
                            if (!$percent.length) {
                                $percent = $('<p class="progress"><span></span></p>')
                                        .appendTo($li)
                                        .find('span');
                            }

                            $percent.css('width', percentage * 100 + '%');
                        });

                        // 文件上传成功，给item添加成功class, 用样式标记上传成功。
                        uploader_pic.on('uploadSuccess', function (file, res) {
                            $('#' + file.id).addClass('upload-state-done');
                            $("#cover_id_pic").val(res.file_path);
                        });

                        // 文件上传失败，现实上传出错。
                        uploader_pic.on('uploadError', function (file) {
                            var $li = $('#' + file.id),
                                    $error = $li.find('div.error');

                            // 避免重复创建
                            if (!$error.length) {
                                $error = $('<div class="error"></div>').appendTo($li);
                            }

                            $error.text('上传失败');
                        });

                        // 完成上传完了，成功或者失败，先删除进度条。
                        uploader_pic.on('uploadComplete', function (file) {
                            $('#' + file.id).find('.progress').remove();
                        });
                    },
                    data: {
                        form:{
                            id:'<%=data.id%>',
                            name: '<%=data.name%>',
                            type : '<%=data.type%>',
                            bg_file : '<%=data.pic_url%>',
                            desc:'<%=data.desc%>'
                        },
                        editor:'',
                        icon:"<i class='fa fa-times-circle'></i>",
                        imageUrl: '',
                        addbutton:true

                    },
                    methods: {
                        getcontent(){
                            if(!isEmpty(app.form.bg_file)){
                                $("#cover_id_pic").val(app.form.bg_file);
                                $('#fileList_pic').html('<div class="file-item thumbnail thumb-lg">' +
                                        '<img src="'+app.form.bg_file+'" style="width: 150px;height: 150px">' +
                                        '</div>');
                            }
                        },
                        save(){
                            app.form.pic_url=$("#cover_id_pic").val();
                            $("#dataform").validate({
                                submitHandler: function (form) {
                                    app.addbutton = false;
                                    $.post("/admin/product/update",
                                            app.form,function (res) {
                                                if(res.errno=='100'){
                                                    toastr.success('保存成功!', '成功');
                                                    setTimeout(function(){
                                                        window.location.href = '/admin/product/tolist?'+'page=<%=page%>&search=<%=search%>&pageSize=<%=pageSize%>&type=<%=type%>';
                                                    },1000);
                                                }else{
                                                    toastr.error(res.msg,'失败');
                                                }
                                                app.addbutton = true;
                                            });

                                },
                                rules : {
                                    name : "required",
                                    pic_url : "required",
                                    type : "required",
                                    desc : "required"
                                },
                                messages : {
                                    pic_url: app.icon + "请选择图片",
                                    name : app.icon + "请输入农产品名称",
                                    type : app.icon + "请选择产品种类",
                                    desc : app.icon + "请输入产品描述"
                                }
                            });

                        }
                    }
                })
                app.getcontent();
            });
        </script>


</body>

</html>